* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
 
  
  /* Style the container/contact section */
  .container {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 10px;
    padding-top: 2%;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    max-width: 70%;
    width: 100%;
    margin: auto;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
 button {
    margin: auto;
    width: 100%;
    padding: 10px;
    background: #0062cc ;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
 button:hover {
    background: #1e82ee;
  }
  h2{
    font-size: 3em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
  }
  h3{
  font-size: 1.3em;
        display: block;
        padding: 0 0 0.5em;
  }
  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
    li{
    list-style: none;
    }
    label{
        font-size: 1.3em;
        display: block;
        padding: 0 0 0.5em;
    }
    input[type=text], textarea {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 100%;
    background: white;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    }
    .search{
        max-width: 70%;
        margin: auto;
    }
    .ng-valid[required], .ng-valid.required  {
      border-left: 10px solid #42A948; 
  }
    
    .ng-invalid:not(form)  {
      border-left: 10px solid #a94442; 
    }
  