<div class="about">
<div class="about-section">
    <h1>Pet Store</h1>
    <p>‘Pet Store’ was produced in view of the pet darling.</p>
    <p>We see pets as individuals from the family, so our point is to give clients items and administrations that can guarantee their darling pet will appreciate an upbeat, solid life. We know how essential the human-creature bond is, so our promise to quality creature care reaches out to each aspect of our business.</p>

        <p>Have you at any point met an enthusiastic creature sweetheart? An obstinate, fringe fixated pet proprietor? All things considered, permit us the joy of acquainting you with our client benefit office. Every one of our client bolster staff individuals has more than 10 years of involvement in their related pet field.</p>
        
        <p>Have an inquiry? We have the appropriate response.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
    <div class="column">
      <div class="card">
        <div class="container">
        <img src="assets\images\20201006_172937.jpg" alt="Madiyar">
          <h2>Madiyar Zhumabekov</h2>
          <p class="title">Founder</p>
          <p>I write a website for myself and for studying.)
            I work quickly and know all the techniques and theory.</p>
          <p>misterzhumabek@gmail.com</p>
          <p><a href="https://www.facebook.com/madiyar.zhumabekov.7"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
</div>

