<div class="home">
<div class="container">
    <h1 class="display-3">Pet Store</h1>
    <p>This site is intended for those who want to buy a pet and things for it. You'll find a lot of cool stuff. If you love pets and want them to live happily, buy the best for them!</p>
    <p><a class="btn btn-primary btn-lg" routerLink="/shop" role="button">Shop »</a></p>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Dog</h2>
        <p>In some countries, including the United States, a dog can become the legal heir to the owner's property after his death. Some owners are so attached to four-legged friends that they leave them unthinkable amounts of money. So, the richest heir was a German shepherd named Gunther the Third. In her will, she inherited about $ 80 million.</p>
        <p><a class="btn btn-primary" routerLink="/shop" role="button">Buy »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Cat</h2>
        <p>There are not many animals in nature that seem to be known everything, they are millions of years near man, but still remain a mystery. These are cats. A cat's brain, unlike a dog's, is more like a human brain. Cats and humans have identical regions of the brain responsible for emotions.</p>
        <p><a class="btn btn-primary" routerLink="/shop" role="button">Buy »</a></p>
      </div>
      <div class="col-md-4">
        <h2>About us!</h2>
        <p>We see pets as individuals from the family, so our point is to give clients items and administrations that can guarantee their darling pet will appreciate an upbeat, solid life. We know how essential the human-creature bond is, so our promise to quality creature care reaches out to each aspect of our business.</p>
        <p><a class="btn btn-primary " routerLink="/about" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div>
</div>
